*{
    /*border:1px dashed brown;*/
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: auto;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/static/img/capaispsml.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;  /* fixa na tela todo tempo */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);  /* efeito vidro fosco */
  background: rgba(255, 255, 255, 0.1); /* camada translucida */
  z-index: -1; /* fica atrás do conteúdo */
  pointer-events: none; /* não bloqueia cliques */
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 500px;
    height: 100vh;
    gap:30px
}

main>span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
   

}
span>a{
    text-decoration: none;
    font-size:14pt;
    text-transform: uppercase;
    color: white;
    background-color: #0045A4;
    padding:20px;
    width: 300px;
    height: 60px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 69, 164, 0.6);
    transition: background-color 0.3s ease-out;
}



span>a:hover{
    background-color: #002D6A;
    transition: background-color 0.3s ease-out;
}