*{
    /* border:1px dashed brown; */
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: auto;
}
h1{
    font-size:30pt;
    font-weight:600;
    text-transform: capitalize;
    margin:20px 20px;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    height: 100vh;
}
p{
  font-size:25px;
 text-align: center;
}
a{
    text-decoration: none;
    font-size:14pt;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgb(68, 209, 25);
    padding:20px;
    width: 150px;
    height: 60px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 5px rgba(3, 223, 120, 0.6);
    transition: background-color 0.8s ease-out;
    align-self: center;
    margin-top: 20px;
    border:none;
    cursor: pointer;
    text-align: center;
    width: auto;
    height: auto;
}
div{
    margin-top:30px;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap:30px;
}
a:hover{
     
    color: #ffffff;
    background-color: rgb(68, 209, 25);
    width: 250px;
    box-shadow: 0 6px 10px rgba(77, 247, 10, 0.6);
    transition: width 0.8s ease-out;
  

}