<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title>SISTEMA DE VOTO | APP_ELEITOR</title>
</head>
<body>
    <!-- {{ candidatos }}
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alerts">
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %} -->
    <h3>Bem-vindo ao Sistema de Votação</h3>
    <h2>Escolha um candidato para votar:</h2>

    
    {% for candidato in candidatos %}
    <form method="POST" action="{{ url_for('votar', candidato_id=candidato[1]) }}">
        
        <div class="candidato-card">
            <h2>Nome: {{ candidato[1] }}</h2>
            <p>Telefone: {{ candidato[2] }}</p>
            <p>Email: {{ candidato[4] }}</p>
            <p>Partido: {{ candidato[3] }}</p>
        </div>
        <button type="submit">Votar</button>
    </form>
    {% endfor %}
    
</body>
</html>