<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/entidade.css">
   
    <title>SISTEMA DE VOTO | ENTIDADE</title>
</head>
<body>
    

<h1>Sistema de voto</h1>
<p>Seja bem vindo ao sistema de voto. <br>
De momento não temos nenhum voto para apresentar</p>
<div>

    <a href="{{ url_for('eleitor') }}">eleitor</a>
    <a href="{{ url_for('candidato') }}">candidato</a>
</div>
    
    
</body>
</html>